:root{
    --background-color:black;
    --equation-review-color:#dfe6e0;
    --equation-main-color:#969e98;
    --button-bg:black;
    --button-font-color:white;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.MainContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    border:red solid;
    height:500px;
    width:500px;
    /* background-color: var(--background-color); */
    
    
}


/* screen where the numbers aka the equations will appear */
.ScreenContainer{
    display:flex;
    flex-direction:column;
    border:red solid;
    /* margin-bottom:100px; */
    height:20%;
    width:100%;
    text-align:right;
    gap:20px;
}

.EquationReview{
   padding-top:10px;
   color: var(--equation-review-color);
}

.EquationMain{
    color:var(--equation-main-color);
}

/* now comes the big part aka the buttons
and the opeations */

.OpeationAndNumberButton{
    display:flex;
}

.NumberButton button{
    border-radius: 50%;
    padding:25px;
    font-size:13px;
    margin:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    background-color: var(--button-bg);
    color:var(--button-font-color);

}

.NumberButton{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    border:black solid;
    width:70%;
    align-items: center;
    justify-content: center;
    
}


.Operations{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    width:30%;
    border:red solid;
}

.Operations button{
    border-radius:50%;
    padding:25px;
    font-weight:700;
    background-color: var(--button-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--button-font-color);

}


